[submodule "kubercode-api"]
	path = kubercode-api
	url = https://github.com/Muniabi/kubercode-api.git
[submodule "kubercode-app"]
	path = kubercode-app
	url = https://github.com/Muniabi/kubercode-app.git
[submodule "kubercode-admin"]
	path = kubercode-admin
	url = https://github.com/Muniabi/kubercode-admin.git
[submodule "kubercode-marketing"]
	path = kubercode-marketing
	url = https://github.com/Muniabi/KuberCode-v0.3.git
