[submodule "kubercode-api"]
	path = kubercode-api
	url = ../kubercode-api.git
[submodule "kubercode-app"]
	path = kubercode-app
	url = ../kubercode-app.git
[submodule "kubercode-admin"]
	path = kubercode-admin
	url = ../kubercode-admin.git
[submodule "kubercode-marketing"]
	path = kubercode-marketing
	url = ../KuberCode-v0.3.git
